@use '../fonts';

.star-method {
	ul {
		li {
			padding-left: .5rem;

			&::marker {
				font-family: icomoon;
				content: '\e9d9';
			}

			&:nth-of-type(even) {
				&::marker {
					content: '\e9d7';
				}
			}
		}
	}
}
