mixin header(className = '')
	header.site-header(class=className)&attributes(attributes)
		block

mixin footer(className = '')
	footer(class=className || null)&attributes(attributes)
		block

mixin hero(className = '')
	section.hero(class=className)&attributes(attributes)
		block

mixin article(className = '')
	article(class=className || null)&attributes(attributes)
		block
