
.nowrap {
	white-space: nowrap;
}

@mixin dark {
	background: var(--brand-1);
	color: var(--soft-white);
	h2, h3, h4, p, span {
		color: var(--soft-white);
	}
}

.sup {
	h2 & {
		font-size: 1rem;
		bottom: .75rem;
		position: relative;
	}
}
